* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
}

img {
    margin-bottom: 60px;
}

.container {
    width: 480px;
    background-color: #141534;
    color: #b2b8de;
    padding: 56px 64px;
    border-radius: 24px;

    & form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        & #btn {
            margin-top: 48px;
            padding: 16px 20px;
            background-color: #2f34ab;
            color: #f1f2f6;
            font-weight: 600;
            border-radius: 8px;
            border: none;
            cursor: pointer;
        }

        & .user-input {
            display: flex;
            flex-direction: column;
            gap: 8px;

            & input, select {
                background-color: #0e0f25;
                color: #b2b8de;
                padding: 16px 20px;
                border-radius: 8px;
                border: #1f2151 1px solid;
                outline: none;
            }
        }
    }
}

.resultado {
    background-color: #1f2151;
    padding: 40px;
    border-radius: 0px 0px 24px 24px;

    & p:first-child {
        color: #7d8dec;
        margin-bottom: 8px;
    }

    & p:last-child {
        color: #f1f2f6;
        font-size: 32px;
        font-weight: bold;
    }
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.style-container {
    border-radius: 24px 24px 0px 0px;
}